* {
  box-sizing: border-box !important;
  margin: 0;
  padding: 0;
  border: 0 none;
  vertical-align: baseline;
  appearance: none;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  color: white;
  font-family: "Ubuntu", sans-serif;
  background-color: black;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
}

button,
input,
a {
  all: unset;
  font: inherit;
}

button, a {
  cursor: pointer;
}

ul, ol {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

svg {
  display: block;
}

.visibility-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

.button {
  display: grid;
  place-content: center;
  padding: 8px 24px;
  border-radius: 50% / 100%;
  color: black;
  font-weight: 500;
  font-size: 24px;
  background-color: oklch(76% 0.27 145);

  &:hover {
    background-color: oklch(83% 0.27 145);
    box-shadow: 0 0 15px 0 oklch(89% 0.235 142.7 / 50%),
    0 0 10px 0 oklch(89% 0.235 142.7 / 10%);
  }

  &:disabled {
    cursor: not-allowed;
  }
}

#app {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
}
